.carousel-item{
    height: 100vh;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
body{
    background-color: rgb(239, 243, 243);
}
.offer-banner{
    height: 700px;
}
.offer-banner img{
    width: 100%;
    height: 100%;
}
.feature-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}